.name-colour {
    color: coral;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.welcome-area {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

h1 {
    font-size: 50px;
}

.hire-button {
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(red, orange);
    border-radius: 5px;
}

.half-width {
    width: 50%;
    margin-left: 5%;
    padding-right: 5px;
}

.half-width img {
    width: 80%;
}