.name-colour {
    color: coral;
}

body {
    font-family: 'Poppins', sans-serif;
}

.welcome-area {
    display: flex;
}

h1 {
    font-size: 50px;
}

.hire-button {
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(red, orange);
    width: 100px;
    height: 40px;
}

.half-width {
    width: 50%;
    margin-left: 5%;
    padding-right: 5px;
}

.half-width img {
    width: 80%;
}