.name-colour {
    color: coral;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.welcome-area {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.hire-button {
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(red, orange);
    border-radius: 5px;
}

.half-width {
    width: 50%;
    margin-left: 5%;
    padding-right: 5px;
}

.half-width img {
    width: 80%;
}

.dream-area {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 100px;
}

.orange-colour {
    color: orange;
}

.experience-main {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.experience-area {
    display: flex;
}

.experiance-items {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-bottom: 50px;
    box-shadow: 10px 10px 40px gray;
}

#full-stack {
    border-left: 10px solid tomato;
}

#baby-devo {
    border-left: 10px solid blue;
}

.text {
    text-align: center;
}